html {
    color: black;
    background: #ededed; /* lily white */
}
body {
    font-weight: bold;
    font-size: 1em;
}
table {
    border-collapse: collapse;
    width: 35%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
form {
    align-items: right;
}

/* Classes and IDs */
.long {
    color: red;
}
.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}